ul {
  list-style-type: none;
  margin: 0;
}

.games-list li {
  margin-bottom: 5px;
}

.disable-list .games-list{
  opacity: 0.6;
  pointer-events: none;
}

.disable-button .button {
  opacity: 0.6;
  pointer-events: none;
}

.disabled-game {
  opacity: 0.6;
}

.button {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left top;
}
