ul {
  list-style-type: none;
  margin: 0;
}

.games-list li {
  margin-bottom: 1px;
}

.games-list li a {
  padding-left: 5px;
  padding-top: 50px;
  display: block;
  width: 178px;
  height: 69px;
  font-size: 12px;
  color: white !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-list .games-list{
  opacity: 0.6;
  pointer-events: none;
}

.disable-button .button {
  opacity: 0.6;
  pointer-events: none;
}

.disabled-game {
  opacity: 0.2;
}

.friends-list li {
  float: left;
  margin: 1px;
}

.button {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: left top;
}

.columns + .columns:last-child {
  float: left;
}
