ul {
  list-style-type: none;
  margin: 0;
}

.games-list li {
  margin-bottom: 5px;
}

.disable-list .games-list{
  opacity: 0.6;
  pointer-events: none;
}

.disable-button .button {
  opacity: 0.6;
  pointer-events: none;
}

